[Desktop Entry]
Name=Relay
Comment=New era of messaging
TryExec=Relay
Exec=Relay -- %U
Icon=org.theonixos.relay
Terminal=false
StartupWMClass=Relay
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Relay -quit
Name=Quit Relay
Icon=application-exit
